
<html lang="en">
 <script type="text/javascript" src="bower_components/angular/angular.js"></script>
<head>
	<meta charset="UTF-8">
	<title>Creation de Facture</title>
</head>
<body>

<header>
	<H1>Facture</H1>
</header>

<div ng-app="billManager" ng-controller="billControl">
  <form novalidate class="simple-form"
	<p>Titre: <input type="text" ng-message="required" ng-model="bill.title"/><br/></p>
	<p>Date: <input type="date"  ng-model="bill.date"/><br/></p>
    <p>Description: <textarea ng-model="bill.description"></textarea></p>
    <p> Mode:
    <select ng-model="bill.mode" ng-change="updateMode()">
      <option value="egal" selected="selected">équitable</option>
      <option value="fix">fixé</option>
    </select></p>
</p>
	<p>Nouveau preteur:<select ng-message="required" ng-model="lendertmp"/><option ng-repeat="someone in group.users">{{someone.pseudo}}</option></select><br/>
	<p>Montant avancé : <input type="number" min=0 ng-model="amountProvided"/><br/>
	  <input type="button" ng-click="addLender(lendertmp,amountProvided)" value="Ajouter"/></p>
    <div ng-repeat="lender in bill.lenders">
      <p>Nom : {{lender.user}} montant : {{lender.amount}}  <input type="button" ng-click="deleteLender(lender)" value="X"/> <input type="checkbox" ng-click="selfish(lender)"></p>
      
    </div>
    <p>Nouvel endetté :<select ng-message="required" ng-model="indebtedtmp"/><option ng-repeat="someone in group.users">{{someone.pseudo}}</option></select><br/>
    <p ng-show="secondfield">Montant fixé : <input type="number" min=0  ng-model="fixedAmount"/><br/></p>
    <p><input type="button" ng-click="addIndebted(indebtedtmp,fixedAmount)" value="Ajouter" /></p>
    
    <div ng-repeat="indebt in bill.indebted">
      <p>{{indebt.user}} dois {{indebt.amount}}  <input type="button" ng-click="deleteIndebted(indebt)" value="X"/></p>
    </div>
    <input type="submit" ng-click="finish(bill)" value="Valider" />
    total:{{bill.amount}} <p ng-show="secondfield">montant total fixé :{{subtotal}}</p>
  </form>
</div>

<script src="bill.js" type="text/javascript"></script>


</html>
