<label class="margin-left-10px title"><i class="fa fa-file"></i> Factures du groupe "{{groups[indexCurrentGroup]['name']}}"</label>
<button ng-click="alert('ok');page='BillForm.html';alert(page)" class="btn btn-info">Créer une facture</button>

<div class="separator"></div>

<div class="margin-top-30px">

	<center>
    	<p ng-class="{ 'bold' : billPayedState == '1' }" class="inline-block green pointer" ng-click="billPayedState='1'" >Payé</p>
        <p ng-class="{ 'bold' : billPayedState == '0' }" class="inline-block red pointer margin-left-10px" ng-click="billPayedState='0'">Non Payé</p>
        <p ng-class="{ 'bold' : billPayedState == '' }" class="inline-block pointer sky-blue margin-left-10px" ng-click="billPayedState=''">Toute</p>
    </center>

	<div ng-repeat="bill in bills | filter : { payed : billPayedState }">
    	<div class="container row center-content">
            <div class="margin-top-10px white-box padding-10px">
                <p class="pos-right">{{bill['date']}}</p>
                <b>{{bill['title']}}</b>
                <p>{{bill['description']}}</p>
                <div class="row">
                    <p class="col-md-3">Montant </p>
                    <b class="col-md-9">{{bill['amount']}} €</b>
                </div>
                
                <div class="row">
                    <p class="col-md-3">Payeurs </p>
                    <label class="col-md-9 blue-box" ng-repeat="lender in bill['lenders']">{{lender['user']}}</label>
                </div>
                
                <div class="row">
                    <p class="col-md-3">Endettés </p>
                    <label class="col-md-9 blue-box" ng-repeat="indebted in bill['indebted']">{{indebted['user']}}</label>
            	</div>
                
                <button class="btn btn-info" ng-click="showDebts(bill)">Voir les dettes</button>
            </div>
		</div>    
	</div>
</div>