<label class="margin-left-10px title"><i class="fa fa-euro"></i> Mes transactions </label>

<div class="separator"></div>

<div class="margin-top-30px">

	<div ng-repeat="debt in debts">
    	<div class="container row center-content">
            <div class="margin-top-10px white-box padding-10px">
            
            	<p ng-class="debt['amount'] == sum(debt['transactions']) ? 'green-box' : 'red-box'" 
                   class="pos-right">
                   {{ debt['amount'] == sum(debt['transactions']) ? 'Réglé' : 'Non réglé' }}
                </p>
            
                <p class="pos-right">{{bill['date']}}</p>
                
                <label class="blue-box">{{debt['indebted'] == user['pseudo'] ? 'Moi' : debt['indebted'] }}</label> 
                
                <b>({{debt['amount']}} €)</b> 
                <i class="fa fa-arrow-right"></i> 
                
                <label class="blue-box">{{ debt['lender'] == user['pseudo'] ? 'Moi' : debt['lender'] }}</label><br/>
                
                <p>{{bill['description']}}</p>
                
                <div class="row">
                    <p class="col-md-3">Factures </p>
                    <label class="col-md-9 blue-box" ng-repeat="billInfo in debt['list_bill_amount']">
                    	{{ getTitleBill(billInfo['bill']) }} ({{ billInfo['amount'] - getAlreadyPayed(debt,billInfo['bill']) }} €)
                	</label>
                </div>
                
                <div class="row">
                    <p class="col-md-3">Transactions </p>
                    <label class="col-md-9 blue-box" ng-repeat="transaction in debt['transactions'] track by $index">{{transaction['amount']}} € ({{getTitleBill(transaction['bill'])}})</label>
            	</div>
                
                <div class="row">
                    <p class="col-md-3">Restant </p>
                    <label class="col-md-9">{{debt['amount'] - sum(debt['transactions'])}} €</label>
            	</div>
                
                <div ng-controller="DebtsController" ng-show="debt['amount'] > sum(debt['transactions']) && debt['lender'] == user['pseudo']" >
                    
                    <select ng-model="billSelected" ng-options="getTitleBill(billAmount['bill']) for billAmount in debt.list_bill_amount" class="width-200px form-control">
                    </select>
                    
                    <input type="number" ng-model="paymentAmount" class="margin-top-10px inline-block width-200px form-control" placeholder="Montant du versement"/>
                	<button class="margin-top-10px inline-block btn btn-success" ng-click="signalizedPayment(debt)">Signaler un versement</button>
                </div>
                
                <div ng-show="debt['amount'] > sum(debt['transactions']) && debt['indebted'] == user['pseudo']" >
                	<select ng-model="billSelected" ng-options="getTitleBill(billAmount['bill']) for billAmount in debt.list_bill_amount" class="width-200px form-control">
                	<input type="number" ng-model="paymentAmount" class="margin-top-10px inline-block width-200px form-control" placeholder="Montant du versement"/>
  					<button class="margin-top-10px inline-block btn btn-warning" ng-click="addPayment(debt)">Faire une transaction</button>
                </div>
                
            </div>
		</div>        
	</div>
</div>
