<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>PreFixTrip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content=""/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="fr" http-equiv="Content-Language"/>
    
    <!-- THEME STYLESHEETS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet/less" type="text/css" href="app/css/app.less"/>
    
</head>

<body class="home-background" ng-app="PreFixTripApp" ng-controller="HomeCtrl">
	<!-- <header class="row">
        <label class="col-md-4">PreFixTrip</label>
        <label class="pos-right">{{user.email}}</label>
    </header>-->
    
    <div class="row height-100pc">
        
        <!-- START LEFT PANEL -->
         <div class="col-md-2 panel-left">
            <center>
    
                <h1>PreFixTrip</h1>
        	
                <h4>{{ user['email'].split('@')[0].split('\.')[0] }}</h4>
        	
        		<div class="margin-top-20px title-box">Groupes</div>         
                             
                <div ng-repeat="group in groups" class="col-md-12 black-box margin-top-5px pointer">{{group['name']}}</div>
                
                <input class="form-control margin-top-5px" type="text" placeholder="Nouveau groupe" ng-model="newGroupName"/>
                <button class="btn btn-info margin-top-5px" ng-click="addGroup()">Ajouter</button>
    
            </center>
         </div>
         <!-- END LEFT PANEL -->
        
        <div class="col-md-10 panel-right">
            <ul class="menu-container">
                <li>Onglet 1</li>
                <li>Onglet 2</li>
                <li>Onglet 3</li>
                <li>Onglet 4</li>
            </ul>
        </div>
    </div>
    
</body>

<!-- LESS SCRIPT -->
<script type="text/javascript" src="bower_components/less/dist/less.min.js" type="text/javascript"></script>

<!-- JQUERY -->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>

<!-- ANGULAR -->
<script type="text/javascript" src="bower_components/angular/angular.js"></script>

<!-- APP -->
<script type="text/javascript" src="app/js/app.js"></script>

</html>
