<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>PreFixTrip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content=""/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="fr" http-equiv="Content-Language"/>
    
    <!-- THEME STYLESHEETS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="app/css/app.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    
</head>

<body class="home-background" ng-app="PreFixTripApp" ng-controller="HomeCtrl">
	<!-- <header class="row">
        <label class="col-md-4">PreFixTrip</label>
        <label class="pos-right">{{user.email}}</label>
    </header>-->
    
    <div class="content row container">
        
        <!-- START LEFT PANEL -->
         <div class="col-md-2 panel-left">
            <center>
    
                <h1>PreFixTrip</h1>
        	
                <h4>{{ user['pseudo'] }}</h4>
        	
        		<div class="margin-top-20px title-box">Groupes</div>         
                             
                <div ng-repeat="group in groups" 
                     ng-class="{ 'group-active' :(indexCurrentGroup == $index) }" 
                     ng-click="selectGroup($index)" 
                     class="col-md-12 black-box margin-top-5px pointer">{{group['name']}}</div>
                                    
                <input class="form-control margin-top-5px" type="text" placeholder="Nouveau groupe" ng-model="newGroupName"/>
                <input class="form-control margin-top-5px" type="password" placeholder="Mot de passe" ng-model="newGroupPassword"/>
                <button class="btn btn-info margin-top-5px" ng-click="addGroup()">Créer</button>
                <button class="btn btn-warning margin-top-5px" ng-click="rejoinGroup()">Rejoindre</button>
    
            </center>
         </div>
         <!-- END LEFT PANEL -->
        
        <div class="col-md-offset-2 col-md-10 panel-right">
            <center>
                <ul class="menu-container white-box">
                    <li ng-class="{ 'active' : page == 'dashboard.html' }" ng-click="page=''">Tableau de bord</li>
                    <li ng-class="{ 'active' : page == 'users.html' }" ng-click="page='users.html'">Membres</li>
                    <li ng-class="{ 'active' : page == 'bills.html' }" ng-click="page=''">Factures</li>
                    <li ng-class="{ 'active' : page == 'spending.html' }" ng-click="page=''">Dépences</li>
                </ul>
            </center>
            
            <div ng-include src="page">
            
            </div>
        </div>
    </div>
    
</body>

<!-- LESS SCRIPT -->
<script type="text/javascript" src="bower_components/less/dist/less.min.js"></script>

<!-- JQUERY -->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>

<!-- ANGULAR -->
<script type="text/javascript" src="bower_components/angular/angular.js"></script>

<!-- APP -->
<script type="text/javascript" src="app/js/app.js"></script>

</html>
